*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-navigator
/.idea/markdown-navigator.xml
/SpinnerDatePickerExample/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties